<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.uinpay.msvc.pro.ykh.mapper.CcaRepaymentTaskMapper" >
  <resultMap id="BaseResultMap" type="cn.uinpay.msvc.pro.ykh.model.CcaRepaymentTask" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="REPAYMENT_ID" property="repaymentId" jdbcType="DECIMAL" />
    <result column="REPAYMENT_STATUS" property="repaymentStatus" jdbcType="VARCHAR" />
    <result column="MEMBER_ID" property="memberId" jdbcType="INTEGER" />
    <result column="bank_card_id" property="bankCardId" jdbcType="VARCHAR" />
    <result column="BILL_SUBMIT_TIME" property="billSubmitTime" jdbcType="TIMESTAMP" />
    <result column="REPAYMENT_START_TIME" property="repaymentStartTime" jdbcType="DATE" />
    <result column="DAY_REPAYMENT_COUNT" property="dayRepaymentCount" jdbcType="INTEGER" />
    <result column="USABLE_AMOUNT" property="usableAmount" jdbcType="DECIMAL" />
    <result column="SUM_REPAYMENT_AMOUNT" property="sumRepaymentAmount" jdbcType="DECIMAL" />
    <result column="SUM_CONSUM_AMOUNT" property="sumConsumAmount" jdbcType="DECIMAL" />
    <result column="SUM_PAYMENT_COUNT" property="sumPaymentCount" jdbcType="INTEGER" />
    <result column="SUM_PROCEDURE_AMOUNT" property="sumProcedureAmount" jdbcType="DECIMAL" />
    <result column="BILL_ID" property="billId" jdbcType="BIGINT" />
    <result column="UPT_TIME" property="uptTime" jdbcType="TIMESTAMP" />
    <result column="CRT_TIME" property="crtTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>